@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/*
    ==================================
    font faces
    ==================================
*/

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto_Light.woff2") format("woff2"),
      url("../fonts/Roboto_Light.woff") format("woff"),
      url("../fonts/Roboto_Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto_Regular.woff2") format("woff2"),
      url("../fonts/Roboto_Regular.woff") format("woff"),
      url("../fonts/Roboto_Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Ubuntu Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Regular"), url("../fonts/ubuntu/Ubuntu-R.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Italic"), url("../fonts/ubuntu/Ubuntu-RI.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Light";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Light"), url("../fonts/ubuntu/Ubuntu-L.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Light Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Light Italic"), url("../fonts/ubuntu/Ubuntu-LI.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Medium"), url("../fonts/ubuntu/Ubuntu-M.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Medium Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Medium Italic"), url("../fonts/ubuntu/Ubuntu-MI.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Bold"), url("../fonts/ubuntu/Ubuntu-B.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Bold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Bold Italic"), url("../fonts/ubuntu/Ubuntu-BI.woff") format("woff");
  }
  
  @font-face {
    font-family: "Ubuntu Condensed Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu Condensed Regular"), url("../fonts/ubuntu/Ubuntu-C.woff") format("woff");
  }
  