@import url("variables.css");
@import url("reset.css");
@import url("fonts.css");

/*
    ==================================
    common classes
    ==================================
*/
.middle {
  position: relative;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.c-grey {
  color: #455a64;
}
.text-justify {
  text-align: justify;
}
.upper {
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.flex {
  display: flex;
}
.flex-gap {
  flex: 0 0 var(--gap);
}
.flex-auto {
  flex: 0 0 auto;
}
.flex-1 {
  flex: 1;
}
.distance {
  gap: var(--gap);
}
.distance-half {
  gap: calc(var(--gap) / 2);
}
.distance-quarter {
  gap: calc(var(--gap) / 4);
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.pl-gap {
  padding-left: var(--gap);
}
.pr-gap {
  padding-right: var(--gap);
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.relative {
  position: relative;
}

.divider {
  font-size: calc(var(--font-size) * 2.5);
  line-height: 0;
  position: relative;
  margin: 0 calc(var(--gap) / 4);
  top: -2px;
}
/*
    ==================================
    container
    ==================================
*/
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  color: var(--color);
}

.container {
  padding: var(--a4-y-padding);
}

.a4 {
  width: 21cm;
  height: 29.7cm;
  /* background-image: url("../img/bg-temp.png"); */
  background-size: contain;
  overflow: hidden;
  box-shadow: 0 0 10px #ccc;
}

.bar {
  width: var(--bar-width);
  height: 100%;
  background-color: var(--secondary);
  border-radius: var(--bar-radius);
  position: absolute;
  top: 0;
}

/*
    ==================================
    Bio
    ==================================
*/
h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

.bio {
  position: relative;
  padding-left: var(--bio-padding);
}

.bio .bar {
  left: var(--split-percent);
}

.bio .contact {
  line-height: calc(var(--line-height) * 1.2);
}
.bio .contact span:first-child {
  font-weight: 700;
}

.bio .job {
  height: calc(var(--bio-hex-height) + var(--gap) / 2);
  position: relative;
}

.bio .job .quote {
  height: 100%;
  padding: calc(var(--gap) / 4) 0;
  position: absolute;
  top: 0;
  left: calc(-1 * var(--gap) - var(--bio-hex-width) / 2);
  background-color: var(--bg-color);
}

.bio .job .quote svg {
  width: var(--bio-hex-width);
  height: auto;
  fill: var(--primary);
}
.bio .job .quote svg:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  fill: var(--bg-color);
  opacity: 0.6;
}

.bio .job .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-2 * var(--split-percent));
}
.bio .job .title svg {
  width: calc(var(--bio-hex-width) / 4);
  height: auto;
  fill: var(--primary);
  margin-right: calc(var(--gap) / 2);
}

/*
    ==================================
    Sections
    ==================================
*/
.section-wrapper {
  display: flex;
  margin-top: calc(var(--gap) * 1.5);
}
.section-wrapper > div:first-child {
  flex: 0 0 var(--split-percent);
}
.section-wrapper > div:last-child {
  flex: 1;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  font-weight: 600;
  margin-bottom: calc(var(--gap) / 1.5);
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  font-weight: 600;
}

/*
    ==================================
    Credentials
    ==================================
*/

.credentials svg {
  width: var(--hex-width);
  height: auto;
  fill: var(--secondary);
}
.credentials .item .flex {
  align-items: center;
}

.credentials .item .bar {
  left: calc(var(--hex-width) / 2 - var(--bar-width) / 2);
}
.credentials .item h4 {
  font-size: calc(var(--font-size) + 1px);
}
.credentials .item .place {
  font-size: calc(var(--font-size) + 2px);
  margin-bottom: calc(var(--gap) / 4);
  margin-top: calc(var(--gap) / 6);
}
.credentials .item:not(:last-child) .relative {
  padding-bottom: calc(var(--gap) / 1.5);
}

/*
    ==================================
    Skills
    ==================================
*/

.skills {
  margin-top: calc(var(--gap) * 1.5);
}

.skills h4 {
  margin-bottom: calc(var(--gap) / 2);
  margin-top: calc(var(--gap) / 2);
}

.skills h5 {
  margin-bottom: calc(var(--gap) / 3);
}

.skills svg {
  width: var(--hex-width);
  height: auto;
  fill: var(--secondary);
}

/*
    ==================================
    Experiences
    ==================================
*/

.experiences svg {
  width: var(--hex-width);
  height: auto;
  fill: var(--secondary);
}

.experiences .item {
  margin-bottom: var(--gap);
}

.experiences .item .year {
  /* width: 90px; */
}

.experiences .item .place {
  font-size: calc(var(--font-size) + 2px);
  margin-bottom: calc(var(--gap) / 4);
  margin-top: calc(var(--gap) / 6);
}

.experiences .item h4 {
  margin-bottom: calc(var(--gap) / 4);
}

/*
    ==================================
    Social
    ==================================
*/

.social a {
  display: inline-block;
  width: var(--social-hex-width);
  height: var(--social-hex-height);

  background-image: url("../img/hexagon-outlined.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--secondary);
  text-align: center;
  padding-top: calc(var(--social-hex-height) / 4);
}
.social a svg {
  width: calc(var(--social-hex-width) / 1.75);
  height: auto;
}
