:root {
  --bg-color: #0a0a0a;
  --font-family: roboto;
  --font-size: 14px;
  --font-weight: 400;
  --letter-spacing: 0.75px;
  --line-height: 1.2rem;
  --color: #fff;

  --header-font-family: "Plus Jakarta Sans", sans-serif;
  --h1-font-size: 2em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.17em;
  --h4-font-size: 1em;
  --h5-font-size: 0.83em;
  --h6-font-size: 0.67em;

  --primary: #fbcc1f;
  --secondary:#1c1c1c;
}
