html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
    ==================================
    font faces
    ==================================
*/
@font-face {
    font-family: "ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Ubuntu_Regular.woff2") format("woff2"),url("../fonts/Ubuntu_Regular.woff") format("woff"),url("../fonts/Ubuntu_Regular.ttf") format("truetype")
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto_Light.woff2") format("woff2"),url("../fonts/Roboto_Light.woff") format("woff"),url("../fonts/Roboto_Light.ttf") format("truetype")
}

@font-face {
    font-family: "roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto_Regular.woff2") format("woff2"),url("../fonts/Roboto_Regular.woff") format("woff"),url("../fonts/Roboto_Regular.ttf") format("truetype")
}
/*
    ==================================
    Material font
    ==================================
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('/fonts/material/MaterialIcons-Regular'), url(/fonts/material/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/material/MaterialIcons-Regular.woff) format('woff'), url(/fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
    font-size: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.no-arrow:after, .no-after:after {
    content: none !important;
}

.mi.mi-sm {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}

.mi.mi-xs {
    font-size: 17px;
}
/*
    ==================================
    common classes
    ==================================
*/
.middle {
    position: relative;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.grey {
    color: #455A64;
}

/*
    ==================================
    container
    ==================================
*/
body {
    font-family: roboto;
    word-spacing: 1px;
    line-height: 1.2rem;
}

.container {
    margin-top: 1rem;
    /*box-shadow: 0 1px 10px #333;*/
    padding: 1rem;
}

.a4 {
    width: 21cm;
}

/*
    ==================================
    profile picture
    ==================================
*/
.hexagon-overlay {
    margin-top: 40px;
    width: 120px;
}

.hexagon-overlay .cover {
    position: absolute;
    left: -5%;
    right: -5%;
    top: -5%;
    bottom: -5%;
    z-index: 1;
    background-image: url(../img/hexagon-white.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hexagon-overlay img {
    width: 100%;
}


/*
    ==================================
    other elements
    ==================================
*/
h1, h2, h3, h4, h5, h6,
.speciallity, .header {
    font-family: ubuntu;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h5 {
    font-size: .67em;
}

small {
    font-size: smaller;
}

.fullname {
    line-height: 3rem;
}

.speciallity {
    font-size: .9em;
}

/*
    ==================================
    time line
    ==================================
*/
.time-line {
    position: relative;
    margin-top: 40px;
}

.line {
    position: absolute;
    top: 0;
    /*border-left: 4px dashed #263238;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: #263238;
}


.content {
    width: 50%;
}

.content-left {
    float: left;
    direction: rtl;
    text-align: right;
}

.content-right {
    float: right;
}

.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

/*
    ==================================
    hexagon
    ==================================
*/
.time-line .section > .hexagon {
    width: 20px;
    height: 20px;
    position: relative;
    left: -10px;
    top: 7px;
}

.time-line .content-left .section > .hexagon {
    left: 10px;
}

.time-line .section > .hexagon:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    background: #fff;
    top: -10px;
    left: 0px;
    z-index: 1;
    border-radius: 50%;
}

.time-line .section > .hexagon svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
/*
    ==================================
    section
    ==================================
*/
.section {
    position: relative;
    margin-bottom: 70px;
}

.content-left .section:first-child {
    margin-top: 70px;
}

.header {
    background-color: #263238;
    position: absolute;
    color: #FAFAFA;
    top: 0;
    line-height: 34px;
}

.content-left .header {
    right: 50px;
    border-radius: 5px 0 0 5px;
    padding: 0 14px 0 16px;
}

.content-right .header {
    left: 50px;
    border-radius: 0 5px 5px 0;
    padding: 0 16px 0 14px;
}
.content-left .header:before,
.content-right .header:before {
    content: '';
    position: absolute;
    background-color: #263238;
    width: 24px;
    height: 24px;
    top: -0px;
    transform: rotate(45deg);
    transform-origin: 0 0;
    border-radius: 0 5px;
    z-index: -1;
}
.content-left .header:before {
    right: -24px;
}
.content-right .header:before {
    left: 0;
}

.body {
    padding: 40px 0 0 50px;
}

.content-left .body {
    padding: 40px 50px 0 0;
}

.work h4 {
    line-height: 25px;
}

.work i {
    font-size: .8rem;
    font-style: italic;
}

.work i:last-child {
    float: right;
}

.work ul {
    margin: 10px 0 30px;
    font-size: .9rem;
    padding-left: 15px;
}

.work ul li::before {
    content: "\2022";
    font-weight: bold;
    font-size: 1.5rem;
    display: inline-block;
    width: .8em;
    position: relative;
    margin-left: -.6em;
    top: 4px;
}

/*
    ==================================
    themes - cyan
    ==================================
*/

.container.cyan .fullname,
.container.cyan .work ul li::before {
    color: #00838F
}

.container.cyan .line, .container.cyan .header, .container.cyan .hexagon {
    background-color: #00838F
}

.container.cyan .hexagon:before {
    border-bottom-color: #00838F;
}

.container.cyan .hexagon:after {
    border-top-color: #00838F;
}
